* {
  margin: 0;
  padding: 0;
}

.menu-bar {
  margin-top: 0px;
  margin-left: 0px;
  background-color: #D6D6D6;
  display: flex;
  height: 110px;
  width: 100%;
}

.menu-logo img{
  height: fit-content;
  width: 110px;
}

.menu-page-tabs ul{
  align-content: center;
  list-style-type: none;
  margin-left: 0px;
}

.menu-page-tabs ul li{
  float: left;
  display: inline;
}


.menu-page-tabs ul li a{
  text-decoration: none;
  padding: 0 20px;
  color: black;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  line-height: 110px;
  
}

body {
  background-color: #202020;
  color: #D6D6D6;
}

.placeholder {
  text-align: center;
  font-size: 50px;
  padding-top: 5%;
  padding-bottom: 5%;
  color: #FFD100;
}

.quick-links {
  align-items: center;
  text-align: center;
  list-style-type: none;
  padding-top: 30px;
  padding-bottom: 100px;
}

.quick-links ul li{
  display: inline;
  padding: 0px 280px 0px 280px;
}

.quick-links ul li a{
  text-decoration: none;
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  /*line-height: 10px;*/
}


.foot {
  background-color: #D6D6D6;
  height: 60px;
  width: 100%;
  margin-top: 90%;
  margin-bottom: 0px;
}

.Sedan-Suvs-Truck{
  height: auto;
  padding: 0px 93px 0px 93px; 
}
